::root {
  font-size: 20px !important;
}
body {
  background-color: #f3f1ef;
  font-family: "Roboto";
}
.App {
  text-align: center;
  background-color: #f3f1ef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text.blue {
  color: #427A8E;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-orange {
  background-color: #fd5721;
}

.font-12 {
  font-size: 12px;
}
.text-green {
  color: #79915d;
}
.bg-green {
  background-color: #79915d;
}
.mt-20 {
  margin-top: 20px;
}
.me-20 {
  margin-right: 20px;
}
.mt-05 {
  margin-top: 5px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-13 {
  margin-top: 13px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-10 {
  margin-top: 10px;
}
.pt-05 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}

.navbar-username {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-left: 8px;
}
.nav-bar-menu {
  padding-right: 0px;
}
.user-avatar {
  width: 37px !important;
  height: 37px !important;
}
#navbarSupportedContent {
  padding-left: 80px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.navbar-nav .nav-item .active {
  color: #79905d !important;
}
.row {
  --bs-gutter-x: 1.89rem;
}

.account .tabs-title {
  padding-left: 180px;
  padding-right: 180px;
}
.account .tabs-title button {
  border: none;
  background: none;
  color: #53575e;
}
.account .tabs-title .tab-active {
  border-bottom: 2px solid #fd5721;
  color: black;
}
.account .profile {
  padding: 0px 150px 150px 150px;
}

.account .profile #upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.account .profile .profile-avatar {
  width: 100px;
  height: 100px;
}

.account .change-password .col-md-4 {
  margin-right: auto;
  margin-left: auto;
}

.tree-builder {
  padding: 50px 200px 200px 200px;
}

.diagram-component {
  width: 100%;
  height: 600px;
  border: none;
  margin: 10px 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 2px;
  /* background-color: #696969;  */
}

span > .kep-login-facebook {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem !important;
}
.header .app-title {
  font-weight: bold;
}
.header .container-fluid {
  max-width: 1084px;
  padding-left: 0px;
  padding-right: 0px;
}

.main-routes {
 padding:20px 0px;
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
}

.home .main-container {
  max-width: 1300px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.header {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.home-nav {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}
.home-nav .navbar {
  max-width: 1084px;
}
.home-nav .container-fluid {
  padding: 0px;
}
.home-nav #navbarSupportedContent {
  padding-left: 0px;
}
.home-nav a span {
  margin-left: 8px;
}
.home-nav .border-right {
  border: 2px solid #dddcdc;
  margin-left: 21px;
  margin-right: 21px;
  height: 38px;
}

.home-nav a {
  color: black;
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* border-right: 2px solid #dddcdc; */
}
.home-nav a svg {
  font-size: 24px;
}
.home-nav .active {
  color: #79905d;
}
.home-nav .new-reminder-btn {
  height: 32px;
  top: 8px;
  background: #79905d;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.home .main-container .row {
  --bs-gutter-x: 0rem;
}
.home .main-container .row .col-md-9 {
  max-width: 719px;
  padding-left: 0px;
  padding-right: 0px;
}
.home .main-container .row .col-md-3 {
  width: 365px;
  padding-left: 10px;
  padding-right: 0px;
}
.home .main-container .row .card {
  padding-top: 10px;
  border-radius: 8px;
}
.timeline .reminders:before {
  content: "";
  border-left: 2px solid #dddcdc;
  height: 100%;
  position: absolute;
  left: 24px;
  position: le;
}
.module-headers > .card > .d-flex {
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  align-items: center;
}
.module-headers > .card > .d-flex > h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #474646;
}

.card .search-actions {
  background-color: #427a8e;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 60px;
}
.search-actions .MuiFormControl-root {
  width: 200px;
}
.search-actions .category .MuiTextField-root {
  width: 200px;
}
.search-actions .search .MuiFormControl-root label {
  margin-left: -13px;
}

.search-actions .category .MuiTextField-root label {
  color: #fff;
}
.search-actions .category .MuiTextField-root svg {
  color: #fff;
}
.timeline .reminders {
  padding-left: 47px;
  padding-right: 47px;
  position: relative;
}
.reminders > .reminder-title {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 17px;
}
.reminders > .reminder-title > h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #427a8e;
  margin-bottom: 0px;
}
.timeline .reminders .reminder-div:before {
  content: "";
  background-image: url(./assets/sun\ icon.png);
  background-color: #fff;
  background-repeat: no-repeat;
  border: 1px solid #dddcdc;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  background-position: center;
  right: calc(100% + 11px);
}
.timeline .reminders .reminder-div {
  border: 2px solid #dddcdc;
  padding-top: 17px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.timeline .reminders .reminder-div img {
  width: 25px;
}
.timeline .reminders .reminder-div .med-name {
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.timeline .reminders .reminder-div .med-time {
  color: #484644;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.timeline .reminders .reminder-div .med-time svg {
  color: #484644;
  width: 13px;
}
.timeline .reminders .reminder-div .med-frequency {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-left: 45px;
  color: #484644;
}
.timeline .reminders .reminder-div .med-text {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding-left: 45px;
  padding-top: 15px;
}
.timeline .reminder-div .med-border {
  border-bottom: 2px solid #dddcdc;
  margin-bottom: 10px;
  margin-top: 10px;
}
.timeline .reminder-div .actions-btns .created-date {
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #c7c7c7;
}
.timeline .reminder-div .actions-btns button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}
.upcoming-appointments {
  padding: 10px 10px 33px 10px;
}
.upcoming-appointments .title h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #474646;
}
.upcoming-appointments .border-bottom {
  border-bottom: 2px solid #dddcdc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upcoming-appointments .follow-up-card {
  background: #faf9f8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.upcoming-appointments .follow-up-card h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
.upcoming-appointments .follow-up-card .in-for-btn {
  background: #79915d;
  border-radius: 24px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  height: 24px;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 6px;
  padding-right: 5px;
  padding-top: 3px;
}
.upcoming-appointments .follow-up-card .border-down {
  border-bottom: 2px solid #ffffff;
  margin-top: 3px;
  margin-bottom: 10px;
}
.upcoming-appointments .follow-up-card .text p {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
.my-circle {
  padding: 10px 10px 33px 10px;
}
.my-circle .title h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #474646;
}
.my-circle .search-actions {
  background-color: #427a8e;
  padding: 0px 10px 10px 10px;
}
.my-circle .search-actions .search .MuiFormControl-root label {
  font-size: 14px;
  margin-left: -12px;
}
.my-circle .search-actions .MuiFormControl-root {
  width: 150px;
}
.my-circle .search-actions .category .MuiTextField-root {
  width: 140px;
}
.my-circle .search-actions .category .MuiTextField-root label {
  font-size: 14px;
  color: #fff;
}
.my-circle .search-actions .category .MuiTextField-root svg {
  color: #fff;
  width: 20px;
}
.search-actions .search  #standard-adornment-search  {
  color: #fff;
}

.my-circle .friends-list .friend-div {
  padding-top: 10px;
}
.my-circle .friends-list .friend-div .avatar-div .friend-avatar {
  width: 40px;
}
.my-circle .friends-list .friend-div .name-div {
  width: 296px;
  height: 40px;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: 2px solid #dddcdc;
}
.my-circle .friends-list .friend-div .name-div .d-flex .text-start div {
  height: 18px;
}

.my-circle .friends-list .friend-div .name-div .name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #484644;
}
.my-circle .friends-list .friend-div .name-div .relation {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #484644;
}

.timeline .reminder-div .actions-btns .button-taken {
  background: #ebeee7;
  border-radius: 4px;
  color: #79915d;
  font-size: 14px;
}
.timeline .reminder-div .actions-btns .button-missed {
  background: #ebeee7;
  border-radius: 4px;
  color: #e6806d;
  font-size: 14px;
}
.timeline .reminder-div .actions-btns .button-forgot {
  background: #ebeee7;
  border-radius: 4px;
  color: #beae5a;
  font-size: 14px;
}

.modal-new-person {
  padding: 20px;
  max-width: 719px;
}
.modal-new-person .info {
  padding-left: 11px;
  padding-right: 11px;
}

.modal-new-person .title h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #474646;
  margin-bottom: 0px;
}
.modal-new-person .basic-info h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #427a8e;
  margin-top: 10px;
  margin-bottom: 0px;
}
.modal-new-person .fields {
  padding-top: 5px;
}
.modal-new-person .fields label {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #9d9d9d;
}
.modal-new-person .fields input,
.modal-new-person .fields select {
  border: 1px solid #aeadad;
  box-sizing: border-box;
  border-radius: 8px;
  color: #484644;
  font-size: 16px;
}
.modal-new-person .profile-picture-upload .picture {
  width: 175px;
  height: 175px;
}
.modal-new-person .profile-picture-upload button {
  background: #427a8e;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border: none;
  padding: 8px 10px 8px 10px;
}
.modal-new-person .notification-settings button {
  background: #dadada;
  border-radius: 4px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: none;
  color: #484644;
}
.modal-new-person .profile-picture-upload .upload-title {
  font-size: 13px;
  line-height: 9px;
  margin-left: 10px;
}
.modal-new-person .profile-picture-upload .type {
  font-size: 12px;
  line-height: 9px;
  margin-left: 10px;
  color: #484644;
}
.modal-new-person .notification-settings .actions .cancel-button {
  height: 29px;
  background: #747474;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
  padding: 5px 10px 5px 10px;
}
.modal-new-person .notification-settings .actions .save-button {
  height: 29px;
  background: #79915d;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
  padding: 5px 10px 5px 10px;
}
.modal-new-person .notification-settings .actions .save-button:disabled {
  opacity: 0.5;
}
.modal-new-person .notification-settings button .form-check {
  min-height: 0;
}
.modal-new-person .notification-settings .notification-checkbox input {
  font-size: 12px;
}
.modal-new-person .notification-settings .notification-checkbox {
  padding-left: 21px;
  padding-right: 21px;
  font-size: 14px;
  position: relative;
}
.modal-new-person .notification-settings .notification-checkbox:before {
  content: "";
  border-left: 1px solid #dddcdc;
  height: 100%;
  position: absolute;
  left: 11px;
}
.modal-new-person .add-emergency-contact button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  padding: 0;
  margin-top: 5px;
  color: #427a8e;
}
.create-reminder-modal .title-div {
  padding: 18px 30px 17px 30px;
  border-bottom: 2px solid #000000;
}
.create-reminder-modal .title-div h5 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #474646;
  margin-bottom: 0;
}
.create-reminder-modal .title-div button {
  background: #ffffff;
  border: 2px solid #474646;
  box-sizing: border-box;
  border-radius: 8px;
}
.create-reminder-modal .form-div {
  padding: 20px 32px 20px 32px;
}
.create-reminder-modal .form-div .number-circle {
  background: #427a8e;
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.create-reminder-modal .schedule .day-circle {
  background: #fff;
  cursor: pointer;
  border: 1px solid #d6d5d5;
  width: 30px;
  height: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border-radius: 50%;
  font-size: 11px;
  color: #d6d5d5;
  text-align: center;
  margin-top: 5px;
  margin-left: 3px;
}
.create-reminder-modal .schedule .day-selected {
  background: #e4eef1;
  border: 2px solid #427a8e;
  color: #000000;
}

.create-reminder-modal .form-div .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #484644;
  margin-left: 9px;
}
.create-reminder-modal .form-div .description span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
  color: #484644;
  margin-top: 10px;
}
.create-reminder-modal .form-div .select-type-button a {
  text-decoration: none;
  cursor: pointer;
}
.create-reminder-modal .form-div .select-type-button {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  margin-top: 20px;
}
.create-reminder-modal .form-div .selected-type {
  background: #e4eef1;
  border: 2px solid #427a8e;
  box-sizing: border-box;
}
.create-reminder-modal .form-div .select-type-button img {
  width: 22.75px;
}
.create-reminder-modal .form-div .select-type-button .button-text h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #474646;
  margin-left: 13.25px;
  margin-bottom: 0;
}
.create-reminder-modal .form-div .select-type-button .button-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 13.25px;
  color: #484644;
  margin-bottom: 0;
}
.create-reminder-modal .form-div .schedule {
  padding-top: 20px;
  text-align: left;
}
.create-reminder-modal .form-div .schedule .date-time-picker {
  border: 1px solid #aeadad;
  box-sizing: border-box;
  border-radius: 8px;
}
.create-reminder-modal .form-div .schedule .repeat-check label {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #484644;
}
.create-reminder-modal .form-div .details-fields {
  text-align: left;
}
.create-reminder-modal .form-div .schedule .reminder-frequency {
  padding: 10px 0;
  border: 2px solid #aeadad;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  max-width: 76px;
  width: 76px;
}
.create-reminder-modal .form-div .schedule .frequency-selected {
  border-color: #427a8e;
  color: #427a8e;
}
.create-reminder-modal .form-div .schedule .reminder-frequency svg {
  font-size: 24px;
}

.create-reminder-modal .form-div .details-fields input,
.create-reminder-modal .form-div .details-fields textarea {
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
}
.create-reminder-modal .form-div .details-fields .btn-create-reminder {
  background: #79905d;
  border-radius: 8px;
  padding: 8px 10px 8px 10px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.app-field-div {
  padding: 4px 11px;
  position: relative;
  border: 1px solid #aeadad;
  border-radius: 10px;
}
.app-field-div label {
  display: block;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #9d9d9d;
}
.app-field-div input,
.app-field-div textarea,
.app-field-div select {
  border-radius: 10px;
  border: none !important;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  color: #484644;
}
.app-field-div input:focus,
.app-field-div textarea:focus,
.app-field-div select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.create-reminder-modal .schedule .react-datepicker {
  min-width: 328px;
}
.medications .grid {
  padding:7px 47px 27px 47px;
}
.medications .grid .row{
  min-height: 159px;
  border: 2px solid #DDDCDC;
  margin-top: 20px;
}
.medications .grid .col-md-4 {
  text-align: left;
  padding: 15px 10px;
}

.medications .grid .name .d-flex img {
  width: 25px;
}
.medications .grid .name .d-flex h5 {
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;color: #427A8E;
margin-bottom: 0;
margin-left: 10px;

}
.medications .grid .name .d-flex .group-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #474646;
  margin:2px 0px 0px 10px
}
.medications .grid .name p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #474646;
  margin-top: 18px;
  margin-left: 35px;
}
.medications .grid .group {
  padding-left: 20px;
  padding-right: 20px;
}
.medications .grid .group .badge-img {
  width: 18px;
  height: 18px;
}
.medications .grid .group h5 {
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #484644;
margin-left: 7px;
margin-bottom: 0;
}
.medications .grid .group .bell {
  width: 18px;
  height: 22px;
}
.medications .grid .group p {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin-top: 5px;
color: #474646;
}
.medications .grid .details {
  padding:15px 20px
}
.medications .grid .details h5{
  font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #474646;
margin-bottom: 0px;
}
.medications .grid .details label span {
  font-weight: bolder;
}
.medications .grid .details label {
  font-size: 14px;
color: #474646;
}
.medications .grid .name,.medications .grid .group {
  border-right: 2px solid #DDDCDC;
  
}
/* Media Queries */

@media only screen and (min-width: 1440px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 1024px) {
  .home .main-container .row .col-md-9 {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    width: 100%;
  }
  .home .main-container .row .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding-top: 20px;
  }
  #navbarSupportedContent {
    display: flex !important;
    justify-content: center;
  }
  .header .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .my-circle .friends-list .friend-div .name-div {
    width: 100%;
  }
  .medications .grid .name p {
    margin-left: 10px;
  } 
  .main-routes {
    padding:20px 20px
  }
}

@media only screen and (max-width: 768px) {
  .home-nav ul li .border-right {
    display: none;
  }
  .home-nav ul {
    text-align: left;
    padding-left: 50px;
  }
  .home-nav ul li {
    padding-top: 5px;
  }
  .home-nav .new-reminder-btn {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 426px) {
  .account .tabs-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-actions .MuiFormControl-root {
    width: 150px;
  }
  .search-actions .category .MuiTextField-root {
    width: 150px;
  }
  .timeline .actions-btns .created-date-div {
    padding-top: 10px;
    justify-content: center !important;
  }
  .medications .grid .name, .medications .grid .group {
    border-right: none;
    border-bottom: 2px solid #DDDCDC;
  }
  .search-actions .MuiFormControl-root {
    width: 150px;
  }
  .search-actions .category .MuiTextField-root {
    width: 150px;
  }
}
@media only screen and (max-width: 376px) {
  .timeline .reminder-div .actions-btns button {
    margin-left: 0px;
  }
  
  .search-actions .MuiFormControl-root {
    width: 140px;
  }
  .search-actions .category .MuiTextField-root {
    width: 140px;
  }
}

@media only screen and (width: 1440px) {
}
